@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<div style="margin-left:5px;">@Configuration["AppConfig:LeftBottom"]</div>
<div style="margin-left:auto;margin-right:5px;">@Configuration["AppConfig:RightBottom"]</div>